<%= form_with(model: user, local: true) do |form| %>
    <% if user.errors.any? %>
	<div id="error_explanation">
	    <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

	    <ul>
		<% user.errors.full_messages.each do |message| %>
		    <li><%= message %></li>
		<% end %>
	    </ul>
	</div>
    <% end %>

    <div class="field">
	<%= form.label :name %>
	<%= form.text_field :name, placeholder: 'Jane Doe' %>
    </div>

    <div class="field">
	<%= form.label :organization %>
	<%= form.text_field :organization, placeholder: 'Weather Organization' %>
    </div>

    <div class="field">
	<%= form.label :email, 'Email (we will send instructions here)' %>
	<%= form.text_field :email, placeholder: 'janedoe@example.com' %>
    </div>

    <div class="field">
	<%= form.label :reason, 'How will you use this data?' %>
	<%= form.text_area :reason, placeholder: 'I will use this data to ...' %>
    </div>

    <div class="field">
	<%= form.label :terms, ("I have read and agree to the #{link_to 'terms and conditions', terms_path, target: :_blank}:").html_safe %>
	<%= form.check_box :terms %>
    </div>

    <div class="actions">
	<%= form.submit 'Sign up' %>
    </div>
<% end %>
