<!DOCTYPE html>
<html>
    <head>
	<title>ASRC AQM Data Products</title>
	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<style>
	 /* .container {
	    max-width: 960px;
	    } */
	 img#sites {
	     width: 300px;
	     float: right;
	 }
	 img#pics {
	     float: right;
	 }
	 img#ualbany {
	     margin-top: 18px;
	     margin-bottom: 35px;
	 }
	 footer .row {
	     padding-bottom: 20px;
	 }
	 #xcite {
	     position: absolute;
	     bottom: 0;
	     right: 0;
	 }
	 .clear {
	     clear: both;
	 }
	 /* .any-tag {
	    width: 100px;
	    height: 100px;
	    display: block;
	    position: relative;
	    } */
	 /* .content:after {
	    content: "";
	    background: url('<%= image_path("cestm.jpg", :alt => "CESTM building") %>');
	    background-size: cover;
	    opacity: 0.2;
	    top: 0;
	    left: 0;
	    bottom: 0;
	    right: 0;
	    position: absolute;
	    height: 100%;
	    z-index: -1;   
	    } */
	</style>
    </head>

    <body>
	<!-- this content wrapper/footer setup courtesy of https://css-tricks.com/couple-takes-sticky-footer/ -->
	<div class="content px-3 py-3 pt-md-4 pb-md-4 mx-auto">
	    <header class="text-center">
		<h1>Air Quality Monitoring</h1>
	    </header>
	    <%= yield %>
	    <div class="push"></div>
	</div>
	<!-- <footer class="dark"> -->
	<footer class="px-3 pt-4 pt-md-5 border-top">
	    <div class="row">
		<div class="col-4 col-md text-center">
		    <%= image_tag("ASRC-Logo-196px.png", :alt => "ASRC logo") %>
		</div>
		<div class="col-4 col-md text-center">
		    <ul class="list-unstyled text-small">
			<li><%= image_tag("logo_A3_pms124_269.png", :alt => "UAlbany logo", :width => "200px", :id => "ualbany") %></li>
			<li><%= image_tag("NYSERDA-Supported.png", :alt => "NYSERDA logo", :width => "200px") %></li>
		    </ul>
		</div>
		<div class="col-4 col-md">
		    <h5>Contact</h5>
		    <address>
			wcmay@albany.edu<br>
			251 Fuller Road<br>
			Albany, NY, 12203
		    </address>
		    <div id="xcite">This website is a product of the <a href="http://pireds.asrc.cestm.albany.edu/">XCITE Lab</a>.</div>
		</div>
            </div>
	</footer>
    </body>
</html>
